{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'main/index.css' %}">
    <title>Laterza E-Commerce</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'main:index' %}" class="logo">E-Shop</a>

            <form class="search-container" action="#" method="GET">
                <input type="text" name="q" class="search-input" placeholder="Cerca un prodotto...">
                <button type="submit" class="search-button">Cerca</button>
            </form>

            {% load auth_extras %}
            {% if user.is_authenticated %}
                <span>Ciao, {{ user.username }}!</span>
                <a href="{% url 'main:logout' %}" class="login-button">Logout</a>
                <a href="{% url 'carrello:page_cart' %}" class="login-button">CARRELLO{% if cart_count %} ( {{ cart_count }} ) {% endif %}</a>
                <a href="{% url 'main:list_orders' %}" class="login-button">ORDINI{% if order_count %} ( {{ order_count }} ) {% endif %}</a>

                {% if user.is_superuser or user|has_group:'WORKER' %}
                <a href="#" class="login-button">Business</a>
                {% endif %}

            {% else %}
                <a href="{% url 'main:reg' %}" class="login-button">Registrati</a>
                <a href="{% url 'main:login' %}" class="login-button">Accedi</a>
            {% endif %}


        </nav>
    </header>

    <main>
        {% if user.have_business %}
            <ul class="cart-list-ul">
                {% if all_business %}
                    {% for b in all_business %}
                    <li class="cart-list-item">
                        <span class="category">Nome Azienda : {{ b.name }}</span>
                        <strong class="product-name">Proprietario Azienda : {{ b.owner }}</strong>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>


            <h2>Aggiungi un nuovo prodotto al tuo Negozio {% if my_business %} {% for my in my_business %} {{ my.name }}, {% endfor %}{% endif %}</h2>
            <form action="{% url 'Business:add_product' %}" method="POST">
                {% csrf_token %}
                <label>Seleziona Attività:</label>
                <select name="business_id">
                    {% for b in my_business %}
                    <option value="{{ b.id }}">{{ b.name }}</option>
                    {% endfor %}
                </select>
                {{ formP.as_p }}
                <button type="submit" class="login-button" name="form_add_product">Metti in vendita</button>
            </form>
            <br>
            {% if user|has_group:'MANAGER' %}
            <h2>Aggiungi un nuova Azienda </h2>
            <form action="{% url 'business:add_business' %}" method="POST">
                {% csrf_token %}
                <label>Seleziona Nome e caratteristiche Attività:</label>
                <br>
                <select name="owner_id">
                    {% for owner in possible_owners %}
                        {% if owner|has_group:'MANAGER' %}
                        <option value="{{ owner.id }}">{{ owner.username }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {{ formB.as_p }}
                <button type="submit" class="login-button" name="form_add_business">Metti in vendita</button>
            </form>
            {% endif %}
        {% else %}
            <p>Non hai ancora creato un'azienda.Scegli per quale azienda vuoi far parte</p>
            <form action="{% url 'Business:choice_business' %}" method="POST">
                {% csrf_token %}
                <label>Seleziona Attività:</label>
                <select name="business_id">
                    {% for b in all_business %}
                    <option value="{{ b.id }}">{{ b.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="login-button" name="form_choice_business">Scegli</button>
            </form>
        {% endif %}

    </main>

    <footer>
        <p>&copy; 2026 Laterza E-Commerce - Tutti i diritti riservati da Laterza E-Commerce.</p>
    </footer>

</body>
</html>




