{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/index.css' %}">
    <title>E-Commerce - Registraion</title>
</head>
<body>
<header> <h1 class="navbar">BENVENUTO NEL SITO MIO BELLISSIMO </h1> </header>
<div class="products-grid">
    <article class="product-card"> ciao mamma
        <form action="{% url 'main:reg'  %}" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Registrati">
        </form>
    </article>
</div>
<footer> <h5> informazioni utili per il sito da mettere</h5></footer>
</body>
</html>